
.input-group {
  margin: 20px 0;
}

h1 {
  margin: 20px 0 15px;
  text-align: center;
}

.month {
  border: 1px solid #aaa;

  .days {
    display: flex;
    border-bottom: 1px dashed #aaa;

    .day {
      flex: 1;
      background: #eee;
      padding: 5px;
      text-align: center;
    }
  }

  .week {
    display: flex;
    min-height: 50px;
    border-bottom: 1px dashed #aaa;

    .day {
      flex: 1;
      border-right: 1px dashed #aaa;
      padding: 7px;

      p {
        background: #eee;
        border-radius: 5px;
        float: left;
        padding: 2px 5px;
        margin: 2px;

        span {
          font-size: 0.8rem;
          white-space: nowrap;
        }
      }

      p:first-child {
        background: #999;
        color: white;
        min-width: 20px;
        text-align: center;
      }
    }

    .day:last-child {
      border-right: none;
    }
  }

  .week:last-child {
    border-bottom: none;
  }
}
