
.month {
  border: 1px solid black;

  .days {
    display: flex;

    .day {
      flex: 1;
      background: #ccc;
      padding: 3px;
      text-align: center;
    }
  }

  .week {
    display: flex;
    min-height: 50px;
    border-bottom: 1px dashed #555;

    .day {
      flex: 1;
      border-right: 1px dashed #555;
      padding: 7px;

      p {
        background: #ddd;
        border-radius: 10px;
        float: left;
        padding: 2px 5px;
        margin: 2px;

        span {
          font-size: 0.8rem;
          white-space: nowrap;
        }
      }
    }

    .day:last-child {
      border-right: none;
    }
  }

  .week:last-child {
    border-bottom: none;
  }
}
